### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [16]:
player_count=purchase_data.loc[:,["SN"]]
player_count=player_count.drop_duplicates()
player_count_df=player_count.count()[0]
pd.DataFrame({"Total Players":[player_count_df]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
items = purchase_data["Item Name"].unique()
total_items = len(items)

average ="${:0,.2f}".format(float(purchase_data["Price"].mean()))
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = "${:0,.2f}".format(float(purchase_data["Price"].sum()))

analysis = [{"Number of Unique Items": total_items,
               "Average Purchase Price":average,
               "Total Number of Purchases":total_purchases,
               "Total Revenue":total_revenue}]
            
purchasing_df = pd.DataFrame(analysis)
purchasing_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
male_df = purchase_data.loc[purchase_data["Gender"]=="Male",:]
male_count = len(male_df["SN"].unique())
male_percent = "{:0,.2f}%".format((male_count/player_count_df)*100)


female_df = purchase_data.loc[purchase_data["Gender"]=="Female",:]
female_count = len(female_df["SN"].unique())
female_percent = "{:0,.2f}%".format((female_count/player_count_df)*100)


they_df = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
they_count = len(they_df["SN"].unique())
they_percent = "{:0,.2f}%".format((they_count/player_count_df)*100)


gender_df = {"Total Count":[male_count, female_count, they_count],
            "Percent":[male_percent, female_percent, they_percent]}
            
gender_demo = pd.DataFrame(gender_df, index = ["Male","Female", "Other/Non-Disclosed"])
gender_demo

                     Total Count Percent
Male                         484  84.03%
Female                        81  14.06%
Other/Non-Disclosed           11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
male_purchases = male_df["Purchase ID"].count()
female_purchases = female_df["Purchase ID"].count()
they_purchases = they_df["Purchase ID"].count()

male_average = "${:0,.2f}".format(male_df["Price"].mean())
female_average = "${:0,.2f}".format(female_df["Price"].mean())
they_average = "${:0,.2f}".format(they_df["Price"].mean())


male_total = male_df["Price"].sum()
female_total = female_df["Price"].sum()
they_total = they_df["Price"].sum()


male_APT = (male_total)/(male_count)
female_APT = (female_total)/(female_count)
they_APT = (they_total)/(they_count)


purchasing_analysis_df = {"Purchase Count":[female_purchases, male_purchases, they_purchases],
                         "Average Purchase Price":[female_average, male_average, they_average],
                         "Total Purchase Value":["${:0,.2f}".format(female_total), "${:0,.2f}".format(male_total), "${:0,.2f}".format(they_total)],
                         "Average Purchase Total Per Person":["${:0,.2f}".format(female_APT), "${:0,.2f}".format(male_APT),"${:0,.2f}".format(they_APT)]}

purchasing_gender = pd.DataFrame(purchasing_analysis_df, index = ["Female","Male", "Other/Non-Disclosed"])
purchasing_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics & Purchasing Analysis

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
age_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Groups"]=pd.cut(purchase_data["Age"],bins,labels=age_ranges)
grouped_bin=purchase_data.groupby(["Age Groups"])
grouped_bin.head()

bin_count=grouped_bin["Age"].count()
bin_avg=grouped_bin["Price"].mean()
bin_avg=round(bin_avg,2)
bin_total=grouped_bin["Price"].sum()

avg_total_person=bin_total/bin_count
avg_total_person=round(avg_total_person,2)

purchase_age=pd.DataFrame({"Purchase Count":bin_count,"Average Purchase Price":bin_avg, "Total Purchase Value":bin_total, "Avg Total Purchase per Person":avg_total_person})
purchase_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
40+,13,2.94,38.24,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
players = purchase_data.groupby(["SN"]).sum()
spending_totals = players["Price"].sort_values(ascending = False)
top_spenders = spending_totals[0:5]

top_spenders_value = [float(value) for value in top_spenders]
top_spenders_SN = [value for value in top_spenders.index]

top_spenders_count = [int(purchase_data.loc[purchase_data["SN"]==x].count()[0]) for x in top_spenders.index]

top_spenders_average  = [i / j for i, j in zip(top_spenders_value, top_spenders_count)]

df = {"Purchase Count":top_spenders_count,
      "Average Purchase Price":top_spenders_average, 
      "Total Purchase Value":top_spenders_value}
format_dict = {'Average Purchase Price': '${0:,.2f}', 'Total Purchase Value': '${0:,.2f}'}
top_spenders_df = pd.DataFrame(df, index=top_spenders_SN).style.format(format_dict)
top_spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
item_counts = purchase_data["Item ID"].value_counts()
top_items = item_counts[0:5]
top_ID = [value for value in top_items.index]


item_names = purchase_data.groupby("Item Name")                                    
item_names_sorted= item_names["Item ID"].count().sort_values(ascending = False)
top_5_names = item_names_sorted[0:5]
top_names = [value for value in top_5_names.index]

item_prices = item_names["Price"].value_counts()
item_prices = item_names.mean()
top_prices = [item_prices.values[item_prices.index==x][0,3] for x in top_names]


item_total = item_names["Price"].sum()
top_total = [item_total.values[item_total.index==x][0] for x in top_names]

df = {"Item ID":top_ID,
      "Item Name":top_names, 
      "Purchase Count":top_items,
      "Item Price":top_prices,
      "Total Purchase Value":top_total}
format_dict = { 'Item Price': '${0:,.2f}', 'Total Purchase Value': '${0:,.2f}'}
top_items_df = pd.DataFrame(df).style.format(format_dict).hide_index()
top_items_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
purchase_value = item_names.sum()
purchase_value_sorted = purchase_value.sort_values("Price", ascending = False)
top_profitable_items = purchase_value_sorted[0:5]


item_profit = purchase_data.sort_values("Price", ascending = False)
item_profit_single = item_profit.drop_duplicates(subset ="Item Name", keep = "first") 


top_item_total = top_profitable_items["Price"]
top_item_total = [float(value) for value in top_item_total]


top_item_names = top_profitable_items.index
top_item_names = [str(value) for value in top_item_names]


item_count = item_names.count()
top_item_count = [item_count.loc[item_count.index==x]["Item ID"] for x in top_item_names]
top_item_count = [int(value) for value in top_item_count]


top_item_prices = [item_profit_single.loc[item_profit_single["Item Name"]==x]["Price"] for x in top_item_names]
top_item_prices = [float(value) for value in top_item_prices]


top_item_ID = [item_profit_single.loc[item_profit_single["Item Name"]==x]["Item ID"] for x in top_item_names]
top_item_ID = [int(value) for value in top_item_ID]


df = {"Item ID":top_item_ID,
      "Item Name":top_item_names, 
      "Item Price":top_item_prices,
      "Purchase Count":top_item_count,
      "Total Purchase Value":top_total}
format_dict = { 'Item Price': '${0:,.2f}', 'Total Purchase Value': '${0:,.2f}'}
top_profit_df = pd.DataFrame(df).style.format(format_dict).hide_index()
top_profit_df